<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/> 
		<title>Hello, world!</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="text-center" style="font-size:25px; margin-bottom:0px;">
					Addition Interface
					</p>
				</div>
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text">Input textarea</span>
				</div>
				<textarea class="form-control" id="input_textarea" aria-label="With textarea"></textarea>
			</div>
			<button type="button" class="btn btn-secondary" onclick="ensure_text()">
				Ensure
			</button>
			<div class="card mt-2 mb-2" id='problem_card'>
			</div>
			<button type="button" class="btn btn-secondary" onclick="construct_problem()">
				Construct
			</button>

			<div class="modal" id="construct-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Ensure to construct problem?</h5>
							<button type="button" class="close" onclick="close_construct_modal()" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" onclick="close_construct_modal()" data-dismiss="modal">Close</button>
							<button type="button" id="submit_prob_btn" class="btn btn-primary" data-dismiss="modal">Ensure</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>
